@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter_18pt-Regular.ttf");
}


@theme {
  --font-inter: Inter, "sans-serif";

}
